training data/IMG_0878
training data/IMG_0878.HEIC
training data/IMG_0879.HEIC
training data/IMG_0880
training data/IMG_0880.HEIC
training data/IMG_0881
training data/IMG_0881.HEIC
training data/IMG_0882
training data/IMG_0882.HEIC
training data/IMG_0883
training data/IMG_0883.HEIC
training data/IMG_0884
training data/IMG_0884.HEIC
training data/IMG_0885
training data/IMG_0885.HEIC
training data/IMG_0886
training data/IMG_0886.HEIC
training data/IMG_0887
training data/IMG_0887.HEIC
training data/IMG_0888
training data/IMG_0888.HEIC
training data/IMG_0889
training data/IMG_0889.HEIC
training data/IMG_0890
training data/IMG_0890.HEIC
training data/IMG_0891
training data/IMG_0891.HEIC
training data/IMG_0892
training data/IMG_0892.HEIC
training data/IMG_0893.HEIC
training data/IMG_0894
training data/IMG_0894.HEIC
backup/respones.data
backup/samples.data
python/__pycache__/trainModel.cpython-310.pyc
test data/IMG_0878
test data/IMG_0878.HEIC
test data/IMG_0879.HEIC
test data/IMG_0880
test data/IMG_0880.HEIC
test data/IMG_0886
test data/IMG_0886.HEIC
test data/IMG_0887
test data/IMG_0887.HEIC
test data/IMG_0888
test data/IMG_0888.HEIC
test data/IMG_0889
test data/IMG_0889.HEIC
test data/IMG_0890
test data/IMG_0890.HEIC
test data/IMG_0891
test data/IMG_0891.HEIC
knn_model.pkl
Data/respones.data
Data/samples.data
