:root {
    --clr-almost-white: #f5f5f5;
    --clr-almost-black: #333333;
    --clr-gray: #6c757d;
    --clr-light-gray: lightgray;
    --clr-enter: #007bff;
    --clr-success: #28a745;
    --clr-alert: #dc3545;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1em;
    color: var(--clr-almost-black);
    background-color: var(--clr-almost-black);
}

@media (max-width: 400px) {
    body {
        font-size: 0.7em;
    }
}

@media (max-width: 250px) {
    body {
        font-size: 0.5em;
    }
}

.body-fixed {
    overflow: hidden;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 700;
}

h3 {
    margin-bottom: 15px;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: 700;
}

.container {
    margin: auto;
    padding: 1em;
    max-width: 600px;
    height: 100vh;
    color: var(--clr-back);
    background-color: var(--clr-gray);
    /* border: 1px solid var(--clr-almost-white); */
    /* border-radius: 10px; */
}

/* style tabs */
.tab {
    overflow: hidden;
    background-color: var(--clr-gray);
    border: 1px solid var(--clr-gray);
    border-bottom: none;
}

/* style buttons */
.tab button {
    font-size: 1.3em;
    line-height: 2em;
    color: var(--clr-almost-white);
    background-color: inherit;
    float: left;
    border: 1px solid var(--clr-almost-white);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    padding: 0 0.6em;
    transition: 0.3s;
}

.tab button:hover {
    color: var(--clr-almost-white);
    background-color: var(--clr-light-gray);
}

/* active tablink class */
.tab button.active {
    color: var(--clr-almost-black);
    background-color: var(--clr-almost-white);
}

/* style the tab content */
.tabcontent {
    display: none;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    height: calc(100% - 3em);
    background-color: var(--clr-almost-white);
    border: 1px solid var(--clr-gray);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.movie-search {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.movie-search__input {
    padding: 0.3em;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
}

.movie-search__btn {
    width: 2em;
    height: 2em;
    background-image: url(resources/img_search.png);
    background-size: contain;
    background-color: transparent;
    border: 1px solid var(--clr-almost-black);
    border-radius: 5px;
    cursor: pointer;
}

.search-result {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: calc(100% - 3em);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* border: 1px dashed red; */
}

.movie-search__card_wrapper {
    margin: auto;
    padding: 1em;
    width: 100%;
    /* max-width: 25em; */
    display: flex;
    justify-content: space-between;
    gap: 1em;
    color: var(--clr-almost-black);
    border: 1px solid var(--clr-gray);
    border-radius: 10px;
    cursor: pointer;
    scroll-snap-align: none center;
}

.movie-search__card_wrapper:hover {
    background-color: var(--clr-light-gray);
}

.movie-search__card_poster-wrapper {
    width: 4em;
    /* border: 1px solid var(--clr-light-gray); */
}

.movie-search__card_poster {
    /* height: auto; */
    width: 100%;
    /* display: block; */
}

.movie-search__card_description-wrapper {
    width: 100%;
}

.movie-search__card_title {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    font-weight: 700;
}

.movie-search__card_year {
    margin-bottom: 0.6em;
    font-size: 0.8em;
    color: var(--clr-enter);
}

.movie-search__card_type {
    font-size: 1em;
}

.card-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    /* transition: all 0.5s ease; */
}

.card-popup-on {
    visibility: visible;
}

.card-popup-content {
    /* margin: 1em auto; */
    padding: 1em;
    width: 100%;
    max-width: 30em;
    height: auto;
    border-radius: 10px;
    background-color: var(--clr-almost-white);
}

.card-popup__buttons-wrapper {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.card-popup__return-btn {
    width: 2em;
    height: 2em;
    background-image: url(resources/img_back_arrow.png);
    background-size: contain;
    background-color: transparent;
    border: 1px solid var(--clr-almost-black);
    border-radius: 5px;
    cursor: pointer;
}

.card-popup__add-favor-btn {
    width: 2em;
    height: 2em;
    background-image: url(resources/img_add_item.png);
    background-size: contain;
    background-color: transparent;
    border: 1px solid var(--clr-almost-black);
    border-radius: 5px;
    cursor: pointer;
}

.card-popup__description-wrapper {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.card-popup__poster-wrapper {
    /* height: auto; */
    width: 8em;
    /* display: block; */
}

.card-popup__poster {
    /* height: auto; */
    width: 100%;
    /* display: block; */
}

.card-popup__wrapper-inner p {
    margin-bottom: 0.3em;
}

.my-favorites-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* border: 1px dashed red; */
}

.display-item-wrapper {
    /* margin-bottom: 3px; */
    padding: 0.3em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    scroll-snap-align: none center;
}

.item-checkbox {
    width: 2em;
    height: 2em;
}

.display-item {
    display: block;
    width: 100%;
    padding: 0 10px;
}

.item-hide-btn {
    width: 2em;
    height: 2em;
    background-image: url(resources/img_delete.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    background-color: var(--clr-light-gray);
    opacity: 0.5;
}

.restore-btn {
    width: 2em;
    height: 2em;
    background-image: url(resources/img_restore_from_trash.png);
    background-size: contain;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
